* {
  font-family: Arial;
}

h1 {
  text-align: center;
}

strong {
  color: #febe01;
}

div {
  background-color: #111;
  padding: 20px;
  margin: 20px;
  border-radius: 4px;
}

div p {
  color: #b2b2b2;
}

div h2 {
  color: #fff;
}

button {
  width: 100px;
  height: 30px;
  color: #332200;
  background-color: #febe01;
  border-radius: 4px;
}